.skill-card {
  width: max-content;
  padding: 8px
    16px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 6px;
  border-radius: 8px;
}

.skill-icon {
  font-size: 80px;
  margin-right: 10px;
}

.skill-name {
  font-size: 25px;
}

@media only screen and (max-width: 720px) {
  .skill-card {
    width: max-content;
    height: 100px;
  }
  .skill-icon {
    font-size: 60px;
  }
}
